.wrapper >>> .header
  position fixed;
  top 0;
  z-index 999;
.wrapper
  width 100%;
  .content
    background-color #fafaf8
    width 100%;
    box-sizing border-box;
    position relative;
    top 44px;
    .type1
      width 100%;
      height 60px;
      background-color white
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      margin-bottom 10px
      .type1-item
        text-align center;
        width 95%;
        position relative;
        top 10px;
        left 8px;
        line-height 40px;
        border 1px solid #d43c33;
    .type2
      width 100%;
      background-color white;
      margin-bottom 10px;
      display flex;
      flex-direction column;
      .row
        width 100%;
        display flex;
        .type2-header
          flex 0 0 25%
          height 80px;
          display flex;
          flex-direction column;
          justify-content center;
          align-items center;
          -webkit-box-sizing: border-box
          -moz-box-sizing: border-box
          box-sizing: border-box
          border-right: 1px solid #c5c5c3;
          .header-text
            color: #8d8d8b
        .type2-content1
          width 100%;
          display flex;
          flex-flow wrap;
          .item
            -webkit-box-sizing: border-box
            -moz-box-sizing: border-box
            box-sizing: border-box
            flex 0 0 25%;
            height 40px;
            display flex;
            justify-content center
            align-items center
            border 1px solid #c5c5c3;
            border-left none;
            border-top none;
        .type2-content
           flex 0 0 75%;
           display flex
           flex-flow wrap;
           .item
             -webkit-box-sizing: border-box
             -moz-box-sizing: border-box
             box-sizing: border-box
             flex 0 0 93.75px;
             height 40px;
             display flex;
             justify-content center
             align-items center
             border 1px solid #c5c5c3;
             border-top none;
             border-left none;
